@import '../../index.css';

.header {
    background-color: #2196f4 !important;
    text-align: center;
    font: 22px sans-serif;
    color: white;
    border-radius: inherit;
}
.card-header {
    background-color: #2196f4 !important;
    padding: 0.90rem 1.25rem !important;
    box-shadow: 0 1px 0px 0 rgba(169,169,169,1);
}