@import '../../index.css';

.fullCard {
    background-color: #fafafa;
}
.cardTitle {
   font-weight: bolder;
   font-size: 14px;
   line-height: initial;
}
.cardTitleText  {
    font-size: 14px;
    line-height: initial;
}
.cardSize {
    padding: 0px 15px 0px 15px;
}
.items {
    font-size: 14px;
}
.itemsPrice {
    float: right;
    font-size: 14px;
}
.lineHeight {
    line-height: initial;
}
.cards {
    box-shadow: 0 1px 0px 0 rgba(169,169,169,1);
    padding: 5px 0px 5px 0px;
}
.card-body {
    padding: 0.5em !important;
}
.button-group {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .btn-primary {
      background-color: white !important;
      border-color: #2196f4 !important;
      color: #2196f4 !important;
  }
.btn-active-button {
    color: white !important;
    background-color: #2196f4 !important;
    box-shadow: unset !important;

}
.google {
    margin: auto;
    display: flex;
    border-color: black !important;
    box-shadow: unset !important;
    padding: 2px !important
}

